body {
  margin: 0;
  font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1440px;
  margin: 40px auto;
}

.align-center{
  text-align: center;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
  gap: 5em;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}